/* Style the video: 100% width and height to cover the entire window */
.section_video {
  align-items: flex-end;
  justify-content: center;
  position: relative;
  right: 0;
  bottom: 0;
  background-size: cover;
  height: 90vh;
  width: 100%;
  display: flex;
}

#bgvid {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -100;
  background-color: black;
}

.section_video p {
  text-align: center;
  font-size: 6rem;
  font-family: "Cookie";
  padding: 20px;
  z-index: 1;
  opacity: 0.7;
}

/* Centered text picture */
.parent{
  position: relative;
}
.middle-picture {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.middle-picture h1{
  margin: 0px;
}

.sponsors {
  width: 50px;
  min-height: 200px;
  max-height: 200px;
} 

.sponsors-card {
  margin: 5px;
}